reloadium

mkdocs
mkdocstrings[python]
mkdocs-material
mkdocs-gen-files
mkdocs-literate-nav

pytest
pytest-watcher

mypy


click
rich



numpy
pandas
pandas-stubs
matplotlib
matplotlib-stubs
seaborn

scikit-learn
sympy
scipy
pyMC3
mplfinance
jupyterlab
plotly
